RewriteEngine On

RewriteCond %{REQUEST_URI} !^/151020 [NC]
RewriteCond %{REQUEST_URI} !^/sensors [NC]
RewriteCond %{REQUEST_URI} !^/robots.txt [NC]
RewriteCond %{REQUEST_URI} !^/.well-known [NC]
RewriteRule ^(.*)$ https://amusing.nm.cz/muzeum/$1 [L]
